.page--events {
	/** Events **/
	.events {
		padding: 40px 10px;
		background-color: #f9f9f9;
		@include screen ( medium ) {
			padding: 75px 0;
		}

		.link--event-details {
			color: #333333;
			font-size: 14px;
			@include screen ( medium ) {
				@include ab ( -30px, n, n, 15px );
				&:hover {
					color: #8db647;

					.fa {
						left: 5px;
					}
				}
			}

			.fa {
				left: 0;
				position: relative;
				@include transition ( all .3s ease-in-out );
			}
		}
		.link__wrapper {
			margin-top: 20px;
			@include screen ( medium ) {
				margin-top: 0;
			}

			.link {
				display: block;
				padding-top: 10px;
				border-top: 1px solid rgba(204, 204, 204, 0.5);
				@include screen ( medium ) {
					padding-top: 0;
					border-top: none;
					display: inline-block;
				}
			}
		}
		.button__wrapper {
			margin-top: 20px;
			@include screen ( medium ) {
				margin-top: 40px;
			}
		}
	}
	.events__row {
		margin-top: 40px;
		padding: 0 0 10px;
		position: relative;
		background-color: #fff;
		@include box-shadow( 0px, 0px, 10px, rgba(0, 0, 0, 0.08) );
		@include screen ( medium ) {
			margin-top: 75px;
			padding: 25px 0;
		}
		@include screen ( big ) {
			padding-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}

		.media {
			display: block;
			position: relative;
		}
		.media__img {
			top: -20px;
			position: relative;
			@include box-shadow( 0px, 0px, 20px, rgba(0, 0, 0, 0.2) );
			@include screen ( ipad ) {
				top: -50px;
			}

			img {
				margin-bottom: 0;
			}
		}
		.info {
			padding-bottom: 20px;
			border-bottom: 1px solid #e7e5e5;
			@include screen ( medium ) {
				padding-bottom: 30px;
			}
			@include screen ( ipad ) {
				padding-bottom: 40px;
			}
			@include screen ( big ) {
				padding-bottom: 55px;
			}

			a {
				display: block;

				h2 {
					color: #2070ae;
					font-size: 16px;
					font-weight: bold;
					text-transform: capitalize;
					line-height: normal;
					@include screen ( medium ) {
						font-size: 20px;
					}
				}
				h3 {
					color: #333333;
					font-size: 13px;
					line-height: normal;
					margin-top: 10px;
					@include screen ( medium ) {
						font-size: 14px;
					}
				}
			}
		}
		.social {
			padding: 20px 0;
			text-align: center;
			@include screen ( large ) {
				margin: 0 -20px;
			}
			@include screen ( medium ) {
				padding-bottom: 0;
			}
		}
		.social__name {
			padding: 0 5px;
			display: inline-block;
			vertical-align: middle;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			@include screen ( xs ) {
				padding: 0 10px;
			}
			/* @include screen ( small ) {
				padding: 0 15px;
			} */
			@include screen ( large ) {
				padding: 0 20px;
			}

			span {
				display: block;
				color: #333333;
				line-height: normal;
			}
			.title {
				font-size: 10px;
				font-weight: bold;
				@include screen ( medium ) {
					font-size: 12px;
				}
			}
			.points {
				margin-top: 5px;
				font-size: 16px;
				font-weight: lighter;
				@include screen ( medium ) {
					font-size: 20px;
				}
			}
			.fa {
				display: none;
				@include screen ( medium ) {
					margin-right: 5px;
					display: inline-block;
				}
			}
			.fa-bolt {
				color: #ff6633;
			}
			.fa-facebook-official {
				color: #4c66a4;
			}
			.fa-youtube {
				color: #c4302b;
			}
		}
	}
	.related {
		padding-top: 20px;
		border-top: 1px solid #e7e5e5;
		@include screen ( medium ) {
			padding-top: 0;
			border-top: 0;
		}
	}
	.related__row {
		margin: 0;
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}

		.thumbnail {
			border: 0;
			box-shadow: none;
			border-radius: 0;

			img {
				width: 90px;
				@include screen ( medium ) {
					width: auto;
				}
			}
		}
		.table {
			position: relative;
			&:before {
				color: #cccccc;
				content: '\f105';
				font-size: 14px;
				font-family: 'FontAwesome';
				@include ab ( 50%, n, n, 0 );
				@include transform ( translateY(-50%) );
				@include transition ( all .2s ease-in-out );
			}
			&:hover {
				&:before {
					right: -5px;
					color: #8db647;
				}

				p {
					color: #8db647;
				}
			}
		}
		p {
			color: #666666;
			font-size: 12px;
			line-height: 1.3em;

			max-width: 95%;
			margin-bottom: 0;
			@include screen ( medium ) {
				max-width: 90%;
			}
		}
	}
}
