.page--home {
	/** Masthead **/
	.masthead {
		overflow: hidden;
		position: relative;
		padding: 35px 0 30px;

		.mask {
			width: 100%;
			height: 100%;
			background-color: rgba( 0, 0, 0, 0.5 );
			@include ab ( 0, 0, n, n );
			-webkit-filter: blur(5px);
			filter: blur(5px);
		}
		.info {
			z-index: 2;
			position: relative;
		}
		.heading {
			color: #fff;
			font-size: 18px;
			text-transform: capitalize;
			@include screen ( medium ) {
				font-size: 28px;
			}
		}
	}

	/** Celebrity **/
	.celebrity {
		padding-top: 65px;
		background-color: #f9f9f9;

		.highlight {
			margin-top: 20px;
		}
		.link--celebrity-page {
			color: #333333;
			font-size: 14px;
			@include screen ( medium ) {
				@include ab ( -30px, n, n, 15px );
				&:hover {
					.fa {
						left: 5px;
					}
				}
			}

			.fa {
				left: 0;
				position: relative;
				@include transition ( all .3s ease-in-out );
			}
		}
		.link__wrapper {
			margin-top: 20px;
			@include screen ( medium ) {
				margin-top: 0;
			}

			.link {
				display: block;
				padding-top: 10px;
				border-top: 1px solid rgba(204, 204, 204, 0.5);
				@include screen ( medium ) {
					padding-top: 0;
					border-top: none;
					display: inline-block;
				}
			}
		}
		.button__wrapper {
			margin-top: 40px;
		}
	}
	.celebrity__row {
		padding: 15px 0;
		margin-top: 75px;
		position: relative;
		background-color: #fff;
		@include box-shadow( 0px, 0px, 10px, rgba(0, 0, 0, 0.08) );
		@include screen ( medium ) {
			padding: 25px 10px;
		}
		&:first-child {
			margin-top: 0;
		}

		.celebrity__info {
			margin-bottom: 0;
			position: relative;
			@include screen ( medium ) {
				margin-bottom: 25px;
			}
			@include screen ( ipad ) {
				margin-bottom: 0;
			}
		}
	}
	.celebrity__avatar {
		width: 100%;
		max-width: 50px;
		overflow: hidden;
		@include ab ( -40px, 15px, n, n );
		@include border-radius(5px, 5px, 5px, 5px);
		@include box-shadow( 0px, 0px, 20px, rgba(0, 0, 0, 0.2) );
		@include screen ( medium ) {
			max-width: 100px;
			@include ab ( -65px, 50%, n, n );
			@include transform ( translateX(-50%) );
		}
	}
	.celebrity__name {
		color: #333333;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		line-height: normal;
		@include ab ( -35px, 85px, n, n );

		@include screen ( medium ) {
			font-size: 18px;
			margin-top: 55px;
			top: auto;
			left: auto;
			position: relative;
		}
	}
	.celebrity__points {
		line-height: normal;
		@include ab ( -10px, 85px, n, n );
		@include screen ( medium ) {
			margin-top: 15px;
			top: auto;
			left: auto;
			position: relative;
			text-align: center;
		}

		.label {
			padding: 0;
			color: #333333;
			line-height: normal;
			background-color: transparent;
			@include screen ( medium ) {
				padding: 5px;
				border: 1px solid #cccccc;
			}
		}
		.fa {
			color: #ff6633;
		}
		/* strong {} */
	}
	/* .celebrity__trending {} */
	.celebrity__trending--last {
		margin: 15px 0 0;

		.media-object-section {
			.table {
				display: table;
			}
		}
		.thumbnail {
			border: none;
			border-radius: 0;
		}
		.table__cell {
			color: #666666;
			font-size: 12px;

			p {
				margin: 0;
			}
		}
	}
	.celebrity__trending--today {
		padding-top: 30px;
		margin-bottom: 25px;
		@include screen ( medium ) {
			padding-top: 0;
			margin-bottom: 0;
		}
	}
}
