.page--idol {
	/** Idol **/
	.idol {
		padding: 0 10px 40px;
		background-color: #f9f9f9;
		@include screen ( medium ) {
			padding: 0 0 75px;
		}

		.button__wrapper {
			margin-top: 20px;
			@include screen ( medium ) {
				margin-top: 40px;
			}
		}
	}
	.idol__intro {
		padding: 25px 0;
		position: relative;
		background-color: #fff;
		@include box-shadow (  0px, 0px, 5px, rgba(0, 0, 0, 0.05) );

		.celebrity__avatar {
			width: 100%;
			max-width: 40px;
			overflow: hidden;
			display: inline-block;
			border: 3px solid #fff;
			@include border-radius(5px, 5px, 5px, 5px);
			@include box-shadow( 0px, 0px, 20px, rgba(0, 0, 0, 0.2) );
			@include screen ( medium ) {
				max-width: 160px;
				margin-top: -10%;
			}

			img {
				width: 100%;
			}
		}
		.idol__name {
			margin-left: 20px;
			vertical-align: top;
			display: inline-block;

			color: #333333;
			font-size: 24px;
			font-weight: bold;
			line-height: normal;
		}
		.social {
			float: right;
		}
		.social__name {
			padding: 0 10px;
			display: inline-block;
			vertical-align: middle;
			@include screen ( large ) {
				padding: 0 20px;
			}
			&.facebook {
				.title, .fa {
					color: #4c66a4;
				}
			}
			&.youtube {
				.title, .fa {
					color: #c4302b;
				}
			}

			span {
				display: block;
				color: #333333;
				line-height: normal;
			}
			.title {
				font-size: 10px;
				font-weight: bold;
				@include screen ( medium ) {
					font-size: 14px;
				}
			}
			.points {
				font-size: 16px;
				font-weight: lighter;
				@include screen ( medium ) {
					font-size: 24px;
				}
			}
			.fa {
				display: none;
				@include screen ( medium ) {
					margin-right: 5px;
					display: inline-block;
				}
			}
		}
	}
	.idol__articles {
		margin-top: 25px;

		.row {
			margin: 0 -10px;
			margin-top: 20px;
			@include screen ( medium ) {
				margin: 0 -15px;
				margin-top: 40px;
			}
		}
		.idol__content {
			padding: 20px 10px;
			background-color: #fff;
			@include box-shadow (  0px, 0px, 5px, rgba(0, 0, 0, 0.05) );
			@include screen ( medium ) {
				padding: 20px 15px;
			}

			.media {
				width: 50%;
				float: left;
				padding: 0 10px;
				&:nth-child( n+3 ) {
					margin-top: 20px;
				}
				@include screen ( medium ) {
					padding: 0 15px;
					width: 33.333333%;
					&:nth-child( n+3 ) {
						margin-top: 0;
					}
					&:nth-child( n+4 ) {
						margin-top: 40px;
					}
				}
			}
		}
		.idol__content--events {
			margin-top: 15px;
			@include screen ( medium ) {
				margin-top: 0;
			}

			.title {
				color: #333333;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
	.tabs {
		border: 0;
		background-color: #fff;
		border-bottom: 1px solid rgba( 204, 204, 204, 0.5 );

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			li {
				padding: 0 15px;
				display: inline-block;
				vertical-align: middle;
				&:hover, &.active {
					background-color: #eeeeee;
					@include screen ( medium ) {
						background-color: transparent;
					}

					a {
						color: #8cb73e;
						background: none;
						border-color: #eee;
						&:before {
							bottom: 0;
							opacity: 1;
						}
					}
				}

				a {
					color: #333333;
					font-size: 16px;
					font-weight: 600;
					display: block;
					position: relative;
					padding: 0 20px 20px;
					&:before {
						content: '';
						opacity: 0;
						width: 100%;
						height: 4px;
						background-color: #8cb73e;
						@include transition ( all .2s ease-in-out );
						@include ab ( n, 0, -20px, n );
					}
				}
			}
		}
	}
	.events {
		margin-top: 20px;
		@include screen ( medium ) {
			padding-top: 0;
			border-top: 0;
		}
	}
	.event__row {
		margin: 0;
		padding: 15px 0;
		border-top: 1px solid rgba( 204, 204, 204, 0.5 );
		&:last-child {
			padding-bottom: 0;
		}

		.thumbnail {
			border: 0;
			box-shadow: none;
			border-radius: 0;

			img {
				width: 90px;
				@include screen ( medium ) {
					width: auto;
				}
			}
		}
		.table {
			position: relative;
			&:before {
				color: #cccccc;
				content: '\f138';
				font-size: 14px;
				font-family: 'FontAwesome';
				@include ab ( 50%, n, n, 0 );
				@include transform ( translateY(-50%) );
				@include transition ( all .2s ease-in-out );
			}
			&:hover {
				&:before {
					right: -5px;
					color: #8db647;
				}

				p {
					color: #8db647;
				}
			}
		}
		p {
			color: #666666;
			font-size: 12px;
			line-height: 1.3em;

			max-width: 95%;
			margin-bottom: 0;
			@include screen ( medium ) {
				max-width: 100%;
			}
		}
	}
	/* .media {} */
	.media__title {
		color: #2070ae;
		font-size: 13px;
		font-weight: bold;
		line-height: normal;
	}
}
