<!-- Autocomplete:: Celebrity -->
<div class="autocomplete">
    <div class="inner">
        <ul>
            <li>
                <a href="" title="Justin Bieber">
                    <div class="wrap-avatar">
                        <img src="images/dummy/justin_bieber.jpg" alt="Justin Bieber">
                    </div>
                    <div class="info">
                        <strong class="name">Justin Bieber</strong>
                        <span class="points">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <strong>234.485</strong> Points
                            </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="" title="Justin Timberlake">
                    <div class="wrap-avatar">
                        <img src="images/dummy/justin_bieber.jpg" alt="Justin Timberlake">
                    </div>
                    <div class="info">
                        <strong class="name">Justin Timberlake</strong>
                        <span class="points">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <strong>234.485</strong> Points
                            </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="" title="Justin Theroux">
                    <div class="wrap-avatar">
                        <img src="images/dummy/justin_bieber.jpg" alt="Justin Theroux">
                    </div>
                    <div class="info">
                        <strong class="name">Justin Theroux</strong>
                        <span class="points">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <strong>234.485</strong> Points
                            </span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="more">
            <a href="" title="Click here to find more result for Justin">Click here to find more result for <strong>Justin</strong></a>
        </div>
    </div>
</div>
