<footer>
    <div class="footer--top">
        <div class="row">
            <div class="small-12 columns">
                <a href="" title="YahStar" class="logo">
                    <img src="images/global/logo.svg" alt="" />
                </a>
                <div class="footer__content clearfix">
                    <ul class="sitemap">
                        <li>
                            <a href="" title="Celebrity">Celebrity</a>
                        </li>
                        <li>
                            <a href="" title="Events">Events</a>
                        </li>
                        <li>
                            <a href="" title="Video">Video</a>
                        </li>
                    </ul>
                    <!-- <div class="search">
						<label for="select-language">Language</label>
						<div class="select-wrapper select-wrapper-2">
							<select name="select-language" id="select-language" class="select-language">
								<option value="0">English</option>
								<option value="1">Việt Nam</option>
							</select>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</div>
					</div> -->
                    <div class="create">
                        <ul class="sitemap">
                            <li>
                                <a href="#" title="Create Event" class="link-create-event">Create Event</a>
                            </li>
                            <li>
                                <a href="#" title="Create YahPage" class="link-create-yahpage">Create YahPage</a>
                            </li>
                        </ul>
                        <!-- <ul class="dropdown menu hide-for-small" data-dropdown-menu>
                            <li>
                                <a href="#" title="Register" class="register is-dropdown-submenu-parent opens-right is-active">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register
                                </a>
                                <ul class="menu">
                                    <li>
                                        <a href="#" title="Create Event" class="link-create-event">Create Event</a>
                                    </li>
                                    <li>
                                        <a href="#" title="Create YahPage" class="link-create-yahpage">Create YahPage</a>
                                    </li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--bottom">
        <div class="row">
            <div class="small-12 columns">
                <p class="copyright">&copy; 2016 YahStar, All rights reserved.</p>
                <a href="mailto:contact@yahstar.com" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@yahstar.com</a>
            </div>
        </div>
    </div>
</footer>
