<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>

<script>
	$(document).ready(function() {
		$(document).foundation();
	});
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<!-- <script src="/bower_components/jquery/dist/jquery.js"></script> -->
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/bower_components/cropper/dist/cropper.js"></script>
<!-- <script src="/bower_components/jquery-ui/ui/core.js"></script> -->
<script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/mouse.js"></script>
<script src="/bower_components/jquery-ui/ui/widgets/slider.js"></script>
<script src="/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<!-- <script src="scripts/jquery.counter.js"></script> -->
<script src="scripts/load-image.js"></script>
<script src="scripts/upload-image.js"></script>
<script src="scripts/flipclock.js"></script>
<!-- endbower -->

<!-- endbuild -->
<!-- build:js scripts/miloActiv.global.js -->
<script src="scripts/miloActiv.global.js"></script>
<!-- endbuild -->
</body>

</html>
