<!-- HEADER -->
<header>
    <div class="row medium-collapse">
        <div class="small-12 medium-12 columns">
            <a href="javascript:void(0);" class="icon-menu-bar show-for-small">
                <div class="wrap">
                    <span class="line"></span>
                </div>
            </a>
            <h1 class="logo">
                    <a href="/" title="YahStar">
                        <img src="images/global/logo.png" alt="">
                    </a>
                </h1>
            <nav class="main-menu">
                <ul class="menu">
                    <li class="active">
                        <a href="" title="Celebrity">Celebrity</a>
                    </li>
                    <li>
                        <a href="" title="Event">Event</a>
                    </li>
                    <li>
                        <a href="" title="Video">Video</a>
                    </li>
                    <li class="show-for-small">
                        <a href="" title="Video">Video</a>
                        <ul class="menu menu--sub">
                            <li>
                                <a href="" title="Create Event">Create Event</a>
                            </li>
                            <li>
                                <a href="" title="Create YahPage">Create YahPage</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <ul class="dropdown menu hide-for-small" data-dropdown-menu>
                <li>
                    <a href="#" title="Register" class="register is-dropdown-submenu-parent opens-right is-active">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register
                    </a>
                    <ul class="menu">
                        <li>
                            <a href="#" title="Create Event">Create Event</a>
                        </li>
                        <li>
                            <a href="#" title="Create YahPage">Create YahPage</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="from from--search">
                <form>
                    <div class="form_field">
                        <div class="col">
                            <div class="input-text input-text-1">
                                <input type="text" class="txt-search" id="txt-search" name="txt-search" placeholder="Justin">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a href="javascript:void(0);" class="search--mobile show-for-small">
                <i class="fa fa-search" aria-hidden="true"></i>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</header>
