<!-- Box Modal -->
<!-- /* Box Modal: Confirm */ -->
<div id="modal--create-event" class="mfp-hide modal modal--create-event">
    <div class="outer">
        <div class="inner">
            <div class="content clearfix">
                <div class="intro">
                    <div class="heading">
                        <span class="title">Create Event</span>
                        <span class="hint">Want your channel appear on YahStar? Register now!</span>
                    </div>
                    <img src="images/global/letter.png" alt="" class="show-for-small">
                </div>
                <img src="images/global/letter.png" alt="" class="letter hide-for-small">
                <div class="form__wrapper">
                    <form class="form">
                        <div class="form_field">
                            <div class="col">
                                <label for="txt-event-name">Event Names <sup>*</sup></label>
                                <div class="input-text input-text-2">
                                    <input type="text" class="txt-event-name" id="txt-event-name" name="txt-event-name" placeholder="Justin">
                                </div>
                            </div>
                        </div>
                        <div class="form_field">
                            <div class="col">
                                <label for="txt-facebook-fanpage">Facebook Fanpage <sup>*</sup></label>
                                <div class="input-text input-text-2">
                                    <input type="text" class="txt-facebook-fanpage" id="txt-facebook-fanpage" name="txt-facebook-fanpage" placeholder="Justin">
                                </div>
                            </div>
                        </div>
                        <div class="form_field">
                            <div class="col">
                                <label for="txt-youtube-channel">Youtube Channel <sup>*</sup></label>
                                <div class="input-text input-text-2">
                                    <input type="text" class="txt-youtube-channel" id="txt-youtube-channel" name="txt-youtube-channel" placeholder="Justin">
                                </div>
                            </div>
                        </div>
                        <div class="form_field">
                            <div class="col">
                                <label for="txt-your-email">Your Email <sup>*</sup></label>
                                <div class="input-text input-text-2">
                                    <input type="text" class="txt-your-email" id="txt-your-email" name="txt-your-email" placeholder="Justin">
                                </div>
                            </div>
                        </div>
                        <div class="form_field">
                            <div class="col">
                                <div class="button__wrapper button__wrapper--right">
                                    <a href="" title="Register" class="button button--green">Register</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a href="" title="Đóng" class="close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
