/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    border: none;
    display: block;
    @include screen ( medium ) {
        display: inline-block;
    }

    color: #666666;
    font-size: 16px;
    background-color: #fff;

    text-decoration: none;
    text-transform: capitalize;

    margin: 0;
    padding: 10px 40px;
    border: 1px solid #cccccc;
    @include transition ( all .3s ease-in-out );
    &:hover {
    	color: #fff;
    	background-color: #8db647;
    }
}
.button--green {
    color: #fff;
    border: none;
    position: relative;
    padding: 10px 30px;
    background-color: #89b33d;
    @include transition ( all .2s ease-in-out );
    &:hover {
        color: #89b33d;
        background-color: #fff;
        &:before {
            right: 10px;
            color: #89b33d;
        }
    }
    &:before {
        content: '\f105';
        color: #fff;
        font-size: 16px;
        font-family: 'FontAwesome';
        @include ab ( 50%, n, n, 20px );
        @include transition ( all .2s ease-in-out );
        @include transform ( translateY(-50%) );
    }
}
.button--no-color {
    background: transparent;
    &:hover {
        background: transparent;
    }
}

.button--full {}
.button__wrapper {
	text-align: center;
}
.button__wrapper--right {
    text-align: right;
}
.button__wrapper--left {
    text-align: left;
}
