/*
** FOOTER
*/

footer {
	padding: 20px 0;
	text-align: center;
	background-color: #333333;
	@include screen ( small ) {
		padding: 35px 0;
	}

	.copyright {
		margin: 0;
		color: #999999;
		font-size: 14px;
		@include screen ( small ) {
			float: left;
		}
	}
	.mail {
		color: #999999;
		font-size: 14px;
		@include screen ( small ) {
			float: right;
		}
		&:hover {
			text-decoration: underline;
		}

		.fa {
			color: #999999;
			margin-right: 5px;
		}
	}
}
