.modal {
    .close {
        color: #fff;
        font-size: 1.5em;
        @include ab ( 5%, n, n, 5% );
        @include screen ( medium ) {
            @include ab ( -5%, n, n, -25px );
        }
    }
}

.mfp-bg {
    opacity: 1;
    background-color: rgba( 0, 0, 0, 0.9 );
}
.mfp-close {
    display: none!important;
}

.modal--create-event {
    width: 100%;
    max-width: 775px;
    margin: 50px auto 0;

    z-index: 2;
    position: relative;
    @include screen ( medium ) {
        margin: 0 auto;
    }
    @include box-shadow ( 0px, 10px, 30px, rgba(0, 0, 0, 0.75) );

    >.outer {
        width: 100%;
        @include border-radius( 5px, 5px, 5px, 5px );
        /* background: url('../images/modal/modal--create-event-mobile.png') center center no-repeat;
        background-size: 100% 100%;
        min-height: 628px; */
        @include screen ( medium ) {
            /* background: url('../images/modal/modal--create-event.png') center center no-repeat;
            background-size: 100% 100%;
            min-height: 558px; */
        }

        z-index: 3;
        position: relative;

        /* .inner {} */
        .title {
            color: #89b33d;
            font-size: 50px;
            font-weight: bold;
            max-width: 50%;
            line-height: 0.9em;
            -webkit-text-stroke: 1px #fff;
            text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            @include ab ( -30px, 15px, n, n );
            @include screen ( ipad ) {
                font-size: 60px;
                max-width: none;
            }
        }
        .hint {
            color: #666666;
            font-size: 12px;
            line-height: normal;
            display: block;
        }
        .letter {
            max-width: 50%;
            @include ab ( n, -5%, -10%, n );
            @include screen ( ipad ) {
                max-width: 100%;
                @include ab ( n, -10%, -15%, n );
            }
        }
        .content {
            @include screen ( medium ) {
                background-color: #fff;
            }

            .intro {
                padding: 60px 20px 20px;
                position: relative;
                background-color: #fff;
                @include screen ( medium ) {
                    width: 45%;
                    float: left;
                    padding: 40px 20px 15px;
                }
                @include screen ( ipad ) {
                    width: 50%;
                }

                .heading {
                    width: 50%;
                    @include screen ( medium ) {
                        width: 100%;
                    }
                }
                img {
                    max-width: 50%;
                    @include ab ( -50px, n, n, 0 );
                }
            }
            .form__wrapper {
                padding: 20px;
                background-color: #edf1f5;
                @include border-radius( 0, 0, 5px, 5px );
                @include screen ( medium ) {
                    width: 55%;
                    float: left;
                    padding: 40px 20px 15px;
                    @include border-radius( 0, 5px, 5px, 0 );
                }
                @include screen ( ipad ) {
                    width: 50%;
                }
            }
            .form {
                .form_field {
                    margin-top: 10px;
                    @include screen ( medium ) {
                        margin-top: 15px;
                    }
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

/*
====== Zoom-out effect ======
*/

.mfp-zoom-out {
    /* start state */
    .mfp-with-anim {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transform: scale(1.3);
    }
    &.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    /* animate in */
    &.mfp-ready {
        .mfp-with-anim {
            opacity: 1;
            transform: scale(1);
        }
        &.mfp-bg {
            opacity: 0.8;
        }
    }
    /* animate out */
    &.mfp-removing {
        .mfp-with-anim {
            transform: scale(1.3);
            opacity: 0;
        }
        &.mfp-bg {
            opacity: 0;
        }
    }
}
